# MariaDB 설정
MYSQL_ROOT_PASSWORD=kmhtest
MYSQL_DATABASE=testdb
MYSQL_USER=root
MYSQL_PASSWORD=kmhtest

# 포트 설정
MARIADB_PORT=3306
REDIS_PORT=6379

# Redis 설정
REDIS_MAXMEMORY=2gb
REDIS_MAXMEMORY_POLICY=allkeys-lru 


